// VAR

@breakpoints: desktop-xxl,desktop-wide,desktop,laptop,tablet,mobile,xmobile;

// RESPONSIVE //
@bp-desktop-xxl:  1770px;
@bp-desktop-wide: 1499px;
@bp-desktop:      1199px;
@bp-laptop:       1023px;
@bp-tablet:       767px;
@bp-mobile:       639px;
@bp-xmobile:      489px;

@desktop-xxl:  ~"(max-width: @{bp-desktop-xxl})";
@desktop-wide: ~"(max-width: @{bp-desktop-wide})";
@desktop:      ~"(max-width: @{bp-desktop})";
@laptop:       ~"(max-width: @{bp-laptop})";
@tablet:       ~"(max-width: @{bp-tablet})";
@mobile:       ~"(max-width: @{bp-mobile})";
@xmobile:      ~"(max-width: @{bp-xmobile})";
